[submodule "lib/pkp"]
	path = lib/pkp
	url = git://github.com/pkp/pkp-lib
[submodule "plugins/importexport/duracloud/lib/DuraCloud-PHP"]
	path = plugins/importexport/duracloud/lib/DuraCloud-PHP
	url = git://github.com/asmecher/DuraCloud-PHP
[submodule "plugins/generic/pdfJsViewer"]
	path = plugins/generic/pdfJsViewer
	url = git://github.com/pkp/pdfJsViewer
[submodule "plugins/generic/plumAnalytics"]
	path = plugins/generic/plumAnalytics
	url = https://github.com/ulsdevteam/ojs-plum-plugin.git
[submodule "plugins/reports/counter/classes/COUNTER"]
	path = plugins/reports/counter/classes/COUNTER
	url = https://github.com/ulsdevteam/COUNTER
