[submodule "lib/pkp"]
	path = lib/pkp
	url = ssh://git@github.com/ulsdevteam/pkp-lib
	branch = uls-install
[submodule "plugins/importexport/duracloud/lib/DuraCloud-PHP"]
	path = plugins/importexport/duracloud/lib/DuraCloud-PHP
	url = git://github.com/asmecher/DuraCloud-PHP
